@model IEnumerable<AccountingWebsite.Models.Transaction>

@{
    if(ViewData["SortBy"] is null)
    {
        ViewData["SortBy"] = "purchasing_date";
    }

    if(ViewData["SortOrder"] is null)
    {
        ViewData["SortOrder"] = "desc";
    }

    var searchFields = new string[] { "BankSearch", "PurchasingDateSearch", "PostingDateSearch", "TransactionTypeSearch", "AmountSearch", "DescriptionSearch",
        "CategoryOneSearch", "CategoryTwoSearch", "TypeSearch", "VendorNameSearch", "IsPurchaseSearch" };

    foreach(string searchField in searchFields)
    {
        if(ViewData[searchField] is null)
        {
            ViewData[searchField] = "";
        }
    }
}

<thead>
    <tr>
        <th>
            <a href="#" onclick="ReloadTable('bank', '@ViewData["SortBy"]', '@ViewData["SortOrder"]'); return false;">Bank</a>
            <input type="text" value="@ViewData["BankSearch"]" value="@ViewData["BankSearch"]" placeholder="Search" id="bank-search" class="transaction-search" onkeydown="Search(event, '@ViewData["SortBy"]', '@ViewData["SortOrder"]')" />
        </th>
        <th>
            <a href="#" onclick="ReloadTable('purchasing_date', '@ViewData["SortBy"]', '@ViewData["SortOrder"]'); return false;">Purchasing Date</a>
            <input type="text" value="@ViewData["PurchasingDateSearch"]" placeholder="Search" id="purchasing-date-search" class="transaction-search" onkeydown="Search(event, '@ViewData["SortBy"]', '@ViewData["SortOrder"]')" />
        </th>
        <th>
            <a href="#" onclick="ReloadTable('posting_date', '@ViewData["SortBy"]', '@ViewData["SortOrder"]'); return false;">Posting Date</a>
            <input type="text" value="@ViewData["PostingDateSearch"]" placeholder="Search" id="posting-date-search" class="transaction-search" onkeydown="Search(event, '@ViewData["SortBy"]', '@ViewData["SortOrder"]')" />
        </th>
        <th>
            <a href="#" onclick="ReloadTable('transaction_type', '@ViewData["SortBy"]', '@ViewData["SortOrder"]'); return false;">Transaction Type</a>
            <input type="text" value="@ViewData["TransactionTypeSearch"]" placeholder="Search" id="transaction-date-search" class="transaction-search" onkeydown="Search(event, '@ViewData["SortBy"]', '@ViewData["SortOrder"]')" />
        </th>
        <th>
            <a href="#" onclick="ReloadTable('amount', '@ViewData["SortBy"]', '@ViewData["SortOrder"]'); return false;">Amount</a>
            <input type="text" value="@ViewData["AmountSearch"]" placeholder="Search" id="amount-search" class="transaction-search" onkeydown="Search(event, '@ViewData["SortBy"]', '@ViewData["SortOrder"]')" />
        </th>
        <th>
            <a href="#" onclick="ReloadTable('description', '@ViewData["SortBy"]', '@ViewData["SortOrder"]'); return false;">Description</a>
            <input type="text" value="@ViewData["DescriptionSearch"]" placeholder="Search" id="description-search" class="transaction-search" onkeydown="Search(event, '@ViewData["SortBy"]', '@ViewData["SortOrder"]')" />
        </th>
        <th>
            <a href="#" onclick="ReloadTable('category_one', '@ViewData["SortBy"]', '@ViewData["SortOrder"]'); return false;">Category 1</a>
            <input type="text" value="@ViewData["CategoryOneSearch"]" placeholder="Search" id="category-one-search" class="transaction-search" onkeydown="Search(event, '@ViewData["SortBy"]', '@ViewData["SortOrder"]')" />
        </th>
        <th>
            <a href="#" onclick="ReloadTable('category_two', '@ViewData["SortBy"]', '@ViewData["SortOrder"]'); return false;">Category 2</a>
            <input type="text" value="@ViewData["CategoryTwoSearch"]" placeholder="Search" id="category-two-search" class="transaction-search" onkeydown="Search(event, '@ViewData["SortBy"]', '@ViewData["SortOrder"]')" />
        </th>
        <th>
            <a href="#" onclick="ReloadTable('type', '@ViewData["SortBy"]', '@ViewData["SortOrder"]'); return false;">Type</a>
            <input type="text" value="@ViewData["TypeSearch"]" placeholder="Search" id="type-search" class="transaction-search" onkeydown="Search(event, '@ViewData["SortBy"]', '@ViewData["SortOrder"]')" />
        </th>
        <th>
            <a href="#" onclick="ReloadTable('vendor_name', '@ViewData["SortBy"]', '@ViewData["SortOrder"]'); return false;">Vendor</a>
            <input type="text" value="@ViewData["VendorNameSearch"]" placeholder="Search" id="vendor-name-search" class="transaction-search" onkeydown="Search(event, '@ViewData["SortBy"]', '@ViewData["SortOrder"]')" />
        </th>
        <th>
            <a href="#" onclick="ReloadTable('is_purchase', '@ViewData["SortBy"]', '@ViewData["SortOrder"]'); return false;">Is Purchase</a>
            <input type="text" value="@ViewData["IsPurchaseSearch"]" placeholder="Search" id="is-purchase-search" class="transaction-search" onkeydown="Search(event, '@ViewData["SortBy"]', '@ViewData["SortOrder"]')" />
        </th>
        <th>

        </th>
    </tr>
</thead>
<tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPurchase)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionID">Delete</a>
            </td>
        </tr>
    }
</tbody>

<script>
    SetUpInfiniteScroll('@ViewData["SortBy"]', '@ViewData["SortOrder"]');
</script>